#-------------------------------
# When changing url/branch in this .gitmodules file,
#   Always ensure you run:
# 1. `git submodule sync --recursive`
# 2. `git submodule update --init --remote --recursive <sub_module_path>`
# 3. IF for some reason, the update doesn't fetch from updated URL try the following:
#    a. Either stage or unstage the .gitmodules file fully, ie (don't have it partially staged and partial changes as unstaged)
#    b. Ensure git used is LATEST VERSION [wasted few hours due to this :( ]
# 4. To restore to the commit that is marked by the submodule commit tracker file, simply issue `update --recursive` without --remote
#    `git submodule update --init --recursive <sub_module_path>`
#-------------------------------

[submodule "Dependencies/Roxas"]
	path = Dependencies/Roxas
	url = https://github.com/rileytestut/Roxas.git
[submodule "Dependencies/libimobiledevice"]
	path = Dependencies/libimobiledevice
	url = https://github.com/libimobiledevice/libimobiledevice
[submodule "Dependencies/libusbmuxd"]
	path = Dependencies/libusbmuxd
	url = https://github.com/libimobiledevice/libusbmuxd.git
[submodule "Dependencies/libplist"]
	path = Dependencies/libplist
	url = https://github.com/SideStore/libplist.git
[submodule "Dependencies/MarkdownAttributedString"]
	path = Dependencies/MarkdownAttributedString
	url = https://github.com/chockenberry/MarkdownAttributedString.git
[submodule "Dependencies/libimobiledevice-glue"]
	path = Dependencies/libimobiledevice-glue
	url = https://github.com/libimobiledevice/libimobiledevice-glue
# [submodule "Dependencies/AltSign"]
# 	path = Dependencies/AltSign
# 	url = https://github.com/rileytestut/AltSign.git
# 	# url = https://github.com/SideStore/AltSign.git
# 	branch = marketplace
# 	# branch = master

#sidestore dependencies
[submodule "SideStore/minimuxer"]
	path = SideStore/minimuxer
	url = https://github.com/SideStore/minimuxer
	branch = master
[submodule "SideStore/em_proxy"]
	path = SideStore/em_proxy
	url = https://github.com/SideStore/em_proxy
	branch = master
[submodule "SideStore/libfragmentzip"]
	path = SideStore/libfragmentzip
	url = https://github.com/SideStore/libfragmentzip
	branch = master

