#include "Build.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = $(PRODUCT_BUNDLE_IDENTIFIER)

# include cocoa pods config
#if DEBUG
  #include? "Pods/Target Support Files/Pods-SideStore/Pods-SideStore.debug.xcconfig"
#else
  #include? "Pods/Target Support Files/Pods-SideStore/Pods-SideStore.release.xcconfig"
#endif