<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>modern</key>
	<array>
		<dict>
			<key>name</key>
			<string>Sandy</string>
			<key>imageName</key>
			<string>Sandy</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Winter</string>
			<key>imageName</key>
			<string>Winter</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sunny</string>
			<key>imageName</key>
			<string>Sunny</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dark</string>
			<key>imageName</key>
			<string>Dark</string>
		</dict>
	</array>
</dict>
</plist>
